<h1 id="article-author">author: {{article.id}}</h1><br>
<h1 id="article-title">title: {{article.title}}</h1><br>
<p id="article-content">content: {{article.content}}</p><br>Comment: 
<input id="new-comment-content-input"><br>
<button id="confirm-create-comment-button">create comment</button><br>
<button id="edit-comment-button">edit comment</button><br>
<button id="delete-comment-button">delete comment</button><br>
<button id="edit-article-button">edit article</button><br>
<button id="delete-article-button">delete article</button><br>
<button id="back-detail-article-button">back</button><br>
